<div class="routes">
	<div>
		<img
			alt="Angular Logo"
			src="../assets/angular.png"
			width="50" />
	</div>
	<div class="route"><a routerLink="/">Home</a></div>

	<!-- Dynamically create menu items for all Micro Frontends -->
	<div
		class="route"
		*ngFor="let remote of remoteRoutes">
		<a [routerLink]="remote.routePath">{{ remote.displayName }}</a>
	</div>
	<div class="route"><a routerLink="/config">Config</a></div>
</div>

<div class="dynamic-components">
	<div
		class="dynamic-component"
		*ngFor="let remote of remoteComponents; let i = index">
		<a
			(click)="renderComponent(i)"
			[attr.role]="'none'">
			{{ remote.displayName }}
		</a>
	</div>
</div>

<div class="inner-body">
	<router-outlet></router-outlet>

	<ng-container #viewContainer></ng-container>
</div>
<div
	[style.height.px]="100"
	[style.max-width.%]="33">
	<ng-container #advertisementViewContainer></ng-container>
</div>
